absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
astunparse==1.6.3
bcrypt==4.0.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
contourpy==1.3.3
cryptography==48.0.1
cycler==0.12.1
detect-installer==0.1.0
dnspython==2.8.0
dotenv==0.9.9
ecdsa==0.19.2
email-validator==2.3.0
et-xmlfile==2.0.0
fastapi==0.139.0
fastapi-cli==0.0.32
fastapi-cloud-cli==0.23.0
fastar==0.12.0
flatbuffers==25.12.19
fonttools==4.63.0
gast==0.7.0
google-auth==2.53.0
google-auth-oauthlib==1.4.0
google-pasta==0.2.0
greenlet==3.5.3
grpcio==1.81.0
h11==0.16.0
h5py==3.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.18
imutils==0.5.4
jinja2==3.1.6
keras==2.15.0
kiwisolver==1.5.0
libclang==18.1.1
markdown==3.10.2
markdown-it-py==4.2.0
markupsafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
ml-dtypes==0.3.2
numpy==1.26.4
oauthlib==3.3.1
opencv-python==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.4.0
packaging==26.2
pandas==3.0.3
passlib==1.7.4
pillow==12.2.0
pip==25.1.1
protobuf==4.25.9
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pygments==2.21.0
pyparsing==3.3.2
pyqt5==5.15.11
pyqt5-qt5==5.15.19
pyqt5-sip==12.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.32
pyyaml==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
rich==15.0.0
rich-toolkit==0.20.3
rignore==0.8.1
rsa==4.9.1
sentry-sdk==2.68.1
setuptools==78.1.1
shellingham==1.5.4
six==1.17.0
sqlalchemy==2.0.51
starlette==1.3.1
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
tk==0.1.0
typer==0.27.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.7.0
uvicorn==0.50.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
werkzeug==3.1.8
wheel==0.47.0
wrapt==1.14.2
xlrd==2.0.2
slowapi
